[user]
    name = Guo, Li
[color]
    # Enable colors in color-supporting terminals
    ui = auto
[color "branch"]
    # Blue on black is hard to read in git branch -vv: use magenta instead
    upstream = magenta
[core]
    # Use vim as default editor
    editor = vim
    # Don't paginate output by default
    pager = less -F -R -X
[pager]
    # log = less
    # diff = less
[alias]
    # Command shortcuts
    ci = commit
    co = checkout
    st = status
    last = log -3
    unstage = reset HEAD --
    # Display more readable one line log
    logs = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short
    # from 
    # https://stackoverflow.com/questions/2919878/git-rewrite-previous-commit-usernames-and-emails
    # https://github.com/brauliobo/gitconfig/blob/master/configs/.gitconfig
    # Usage:
    # git change-commits GIT_AUTHOR_NAME "old name" "new name"
    # git change-commits GIT_AUTHOR_EMAIL "old@email.com" "new@email.com" HEAD~10..HEAD
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
    # from https://help.github.com/articles/remove-sensitive-data
    # Usage:
    # git remove-file "abc.tgz"
    remove-file = "!f() { git filter-branch -f --index-filter \"git rm --cached --ignore-unmatch $1\" --prune-empty --tag-name-filter cat -- --all; }; f"

[diff]
    # Use better descriptive initials c(ommit), i(ndex), w(ork) instead of a/b
    mnemonicPrefix = true
    # Show renames/moves as much
    renames = true
    # Use Beyond Compare as default diff tool when running `git diff-tool` on Mac or Windows
    # Use bc3 on the command line for BC version 4. Caused by git legacy support from Linux
    tool = bc3
    # Use WinMerge as default diff tool on Windows
    # tool = winmerge
[difftool]
    prompt = false
[difftool "winmerge"]
    cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e "$LOCAL" "$REMOTE"
[merge]
    # Use Beyond Compare as default merge tool on Mac
    # Use bc3 on the command line for BC version 4. Caused by git legacy support from Linux
    tool = bc3
[mergetool "bc3"]
    trustExitCode = true
[mergetool "winmerge"]
    cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -u -dl "Base" -dr "Mine" "$LOCAL" "$REMOTE" "$MERGED"
[grep]
    break = true
    heading = true
    linNumber = true
    extendedRegexp = true
